body {
	background-color: #eee;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

#player-board, #cpu-board {
	border-collapse: collapse;
	margin: 5px;
}

#player-board td, #cpu-board td {
	border: 2px solid #ccc;
	padding: 15px;
}

#player-wrapper, #cpu-wrapper {
	border: 3px solid #007bff;
    border-radius: 8px;
    padding: 0px 30px;
}

#player-board td:hover, #cpu-board td:hover {
	cursor: pointer;
}

.missed, .missed:hover {
	background-color: #007bff;
}

.hit, .hit:hover {
	background-color: #dc3545;
}

.sunk, .sunk:hover {
	background-color: #000;
}

.fb {
	background-color: #007bff;
    height: 15px;
    margin: 10px 0px;
}

.f-destroyer {
    width: 30px;
}

.f-cruiser {
    width: 45px;
}

.f-battleship {
    width: 60px;
}

.f-carrier {
    width: 75px;
}

.boats-feedback {
    margin-top: 100px;
}

.boats-feedback-l {
	margin-left: 10px;
}

.boats-feedback-r {
	margin-right: 35px;
}

h2 {
	font-size: 2em;
	text-align: center;
	margin-top: 20px;
}

#history {
	height: 145px;
    overflow: auto;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 50%;
    padding: 10px;
    margin-top: 30px;
}

#history table {
	width: 100%;
}

#history tr {
	font-weight: bold;
	font-size: 1.2em;
}

#history td {
	text-align: left;
}

#history .Player {
	color: #007bff;
}

#history .CPU {
	color: #dc3545;
}

#history .Player, #history .CPU {
	width: 20%;
}

#history .message-coord {
	width: 15%;
}

#history .message-boat {
	width: 30%;
}

#history .message-state {
	width: 35%;
}

#history div {
	font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

#message-win {
	text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    display: none;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.difficulty {
	margin: 0px auto;
    width: 50%;
}

.difficulty input[type=radio] {
	display: none;
}

.difficulty label {
	padding: 10px;
	margin: 10px 15px 0px 0px;
	border-radius: 3px;
	display: inline-block;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}

.difficulty label svg {
	position: relative;
	right: 10px;
}

.btn-pink {
	background-color: #e83e8c !important;
	border: 2px solid #e83e8c;
}

.btn-orange {
	background-color: #d39e00 !important;
	border: 2px solid #d39e00;
}

.btn-red {
	background-color: #dc3545 !important;
	border: 2px solid #dc3545;
}

.btn-pink.active {
	background-color: #CC005D !important;
	border: 2px solid #CC005D;
}

.btn-orange.active {
	background-color: #826200 !important;
	border: 2px solid #826200;
}

.btn-red.active {
	background-color: #950412 !important;
	border: 2px solid #950412;
}

.difficulty label.btn-primary:hover {
	background-color: #e83e8c !important;
}

.difficulty label.btn-warning:hover {
	background-color: #e0a800 !important;
}

.difficulty label.btn-danger:hover {
	background-color: #c82333 !important;
}

.difficulty>span {
	font-size: 1.3em;
    margin-right: 20px;
}

.skill-go {
	padding: 10px;
	margin: 10px 15px 0px 0px;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	border: 2px solid #007bff;
}

.skill-go:disabled {
	background-color: #ccc;
	border-color: #ccc;
	cursor: not-allowed;
}

.difficulty input:checked + label, .difficulty label:hover {
	background: #007bff;
	color: #fff;
	border-color: #007bff;
}

.difficulty input:checked + label {
	text-decoration: underline;
	text-underline-position: under; 
	font-weight: bold;
}

#skill-message {
	font-weight: bold;
	text-align: center;
	font-size: 0.8em;
	display: none;
	margin-left: 20px;
}

.Easy {
	color: #e83e8c;
}

.Medium {
	color: #fd7e14;
}

.Hard {
	color: #dc3545;
}

#reset-game svg {
	margin-right: 5px;
}

.coordY {
	position: relative;
    top: -40px;
    left: -6px;
    height: 0px;
    width: 0px;
    font-weight: bold;
}

.coordX {
	position: relative;
    top: -12px;
    left: -40px;
    height: 0px;
    width: 0px;
    font-weight: bold;
    text-align: left;
}

.player-label {
	margin-bottom: 25px;
	text-align: center;
}

.f-sunk-boat {
	background-color: #000 !important;
}

.turn {
	opacity: 0.3;
	border-color: transparent !important;
}

#message {
	height: 100px;
}

.reveal {
	background-color: green;
}

.cell-r {
	position: relative;
}

.p-boat {
	border: 2px solid #007bff;
	position: absolute;
	top: -16px;
	left: -16px;
	cursor: move;
}

.p-boat-5-0 {
	width: 10em;
	height: 2em;
}

.p-boat-5-1 {
	width: 2em;
	height: 10em;
}

.p-boat-4-0 {
	width: 8em;
	height: 2em;
}

.p-boat-4-1 {
	width: 2em;
	height: 8em;
}

.p-boat-3-0 {
	width: 6em;
	height: 2em;
}

.p-boat-3-1 {
	width: 2em;
	height: 6em;
}

.p-boat-2-0 {
	width: 4em;
	height: 2em;
}

.p-boat-2-1 {
	width: 2em;
	height: 4em;
}

#instructions {
	font-size: 1.3em;
    font-weight: bold;
    margin: 15px 0px 5px 0px;
}

.blink {
	/*border-color: green;*/
	animation: bblink 1s linear;
}

@keyframes bblink{
	0%{ border-color: red; }
	50%{ border-color: #007bff; }
	100%{ border-color: #007bff; }
}