body {
	background-color: #eee;
}

#wrapper {
	margin: 50px auto;
	width: 960px;
}

table {
	border-collapse: collapse;
	margin: 5px;
}

td {
	border: 2px solid #ccc;
	padding: 20px;
}

#player-wrapper {
	float: left;
}

#cpu-wrapper {
	float: right;
}

td {
	border: 2px solid #ccc;
	padding: 20px;
}

td:hover {
	cursor: pointer;
	background-color: #ddd;
}

.missed, .missed:hover {
	background-color: #007bff;
}

.hit, .hit:hover {
	background-color: #dc3545;
}

.sunk, .sunk:hover {
	background-color: #000;
}

.clearfix {
	clear: both;
}

.boat5 {
	background-color: green;
    width: 210px;
    height: 42px;
    position: relative;
    top: 0px;
    left: 0px;
}

h2 {
	font-size: 2em;
	text-align: center;
}

#messages {
	height: 145px;
    overflow: auto;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

#messages>div {
	font-weight: bold;
	font-size: 1.2em;
}

#messages .Player {
	color: #007bff;
}

#messages .CPU {
	color: #dc3545;
}

#messages span {
	margin: 1px 2px;
}

.difficulty {
	margin: 20px auto;
    width: 50%;
}

.difficulty input[type=radio] {
	display: none;
}

.difficulty label {
	padding: 10px;
	margin: 10px 15px 0px 0px;
	background: #fff;
	border-radius: 3px;
	display: inline-block;
	color: #007bff;
	cursor: pointer;
	border: 2px solid #007bff;
	font-weight: bold;
}

.skill-go {
	padding: 10px;
	margin: 10px 15px 0px 0px;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
	background-color: #007bff;
	cursor: pointer;
	border: 2px solid #007bff;
}

.skill-go:disabled {
	background-color: #ccc;
	border-color: #ccc;
	cursor: not-allowed;
}

.difficulty input:checked + label, .difficulty label:hover {
	background: #007bff;
	color: #fff;
	border-color: #007bff;
}

.difficulty input:checked + label {
	text-decoration: underline;
	text-underline-position: under; 
	font-weight: bold;
}

#skill-message {
	font-weight: bold;
	text-align: center;
	font-size: 1.2em;
	display: none;
}

.easy {
	color: #e83e8c;
}

.medium {
	color: #fd7e14;
}

.hard {
	color: #dc3545;
}

#reset-game {
	font-size: 0.6em;
    border: 2px solid #dc3545;
    border-radius: 4px;
    padding: 5px;
    color: #dc3545;
    margin-left: 15px;
    background-color: #fff;
    display: none;
}

#reset-game:hover {
	cursor: pointer;
	background-color: #dc3545;
	color: #fff;
}